﻿/* ABOUT US */

#bg{
    background-image:url(../Images/sand.jpg);
    background-size:cover;
    width: 100%;
    height: 650px;
}
#wholeUs{
    width: 750px;
    position:relative;
    margin:auto;
    
    
}
#centraleAu{
    width: auto;
    height: 275px;
    position:relative;
    text-align: center;
    background-image:linear-gradient(orange, white);
    border-radius: 0 0 50% 50% / 15%;
    border-image-slice: 10%;
}
#centraleAu p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
}
.butRond{
    border-style: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    background-color: orangered;
}
#textInfoUs{
    
    position: relative;
    width: auto;
}
.textUs{
    float: left;
    border-top: solid;
    border-color: orangered;
    width: 200px;
    background-color: beige;
    display:inline-block;
    height: 220px;
    text-align: left;
    margin-left: 20px;
}
h2{
    text-align: center;
    color: white;
}
.textUs p{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
}
.textUs h4{
    margin-left: 15px;
    color: brown;
}
.boutonUs{
    float:right;
    background-color: orangered;
    color: white;
    font-family: Arial;
    height: 26px;
    width: 52px;
    border-style: none;
    margin-bottom: 2%;
}

/* GALLERY */

#bgGallery{
    background-color: aliceblue;
    margin-top: -5px;
}
#imgGal h1{
    margin-top: 30px;
}
#imgGal{
    width: 80%;
    margin: auto;
}
#bgGallery img{
    width:197px;
	height:160px;
    position: relative;
    z-index:2;
}

/* CONTACT */
#bgContact{
    width:100%;
    height: 500px;
    background-color: aliceblue;
    font-family:Arial;
    position: relative;
}
#infoContact{
    width:250px;
    float:left;
    margin-left: 10%; 
}
#miscInfo{
    float: right;
    width: 70%;
    margin: auto;
    position: relative;
}
#miscInfo h3{

    margin-left:20px;
}
#miscInfo p{

    margin-left:20px;
}
.champsReq{
    
    display:inline-block;
    float: left;
    margin-left:20px;
    height: 30px;
}
#message{
    clear:both;
    float:left;
    margin-top: 20px;
}
.messErr{
    margin-left:20px;
    height: 100px;
    width: 476px;
}
#butInfo{
    clear: both;
   
}
.boutonInfo{
    margin-top: 20px;
    margin-left: 20px;
    background-color: orangered;
    color: white;
    font-family: Arial;
    height: 28px;
    width: 55px;
    border-style: none;
    border-radius:8%;
    font-family: Arial;
    font-size: medium;
}
#infoContact img{
    height: 12px;
    width: 12px;
}