﻿body {
    background-image: url("../Images/african_sky.jpg");
    background-size:cover;
}
header{
    width: 750px;
    margin:auto;
    height: 60px;
    background-color: white;
}
#Menu1{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:15px;
}
.menuItem{
    color: black;
}
#accueil{
}
#centreAccueil{
    background-image:url(../Images/lion.jpg);
}
#headerPa{
    background-color: black;
    color: white;
    height: 60px;
    width: 750px;
    margin:auto;
}
#earth{
    height:20px;
    margin-top: 15px;

}

/* ACCUEIL/HOME */

#imagesDeroulantes{
    
    background-size:cover;
    width: 750px;
    height: 500px;
    margin:auto;
    display: block;
    background-image:url(../Images/baboon.jpg);
    position: relative;

}

#ads{
    top:280px;
    color:white;
    text-align:center;
    margin-top: -32px;
    position: relative;
    font-size: larger;

}
#adsTitle{
    
}
#ads h1{
    font-size: 48px;
}
#desc{
    font-size: 35px;
}
#select{
    float:right;
    color: transparent;
}

#select1{
    clear:both;
    border-top:solid;
    border-color: red;
    
}
#select2{
    border-top:solid;
    border-color: white;
}
#select3{
    border-top:solid;
    border-color: white;
}
#titres{

    top:292px;
    position: relative;
    width: auto;
    height: 48px;
}
.sousTitres{

    float:left;
    margin-left:37px;
    display:inline-block;
    height: 37px;
    width: 200px;
    background-color: beige;
    color: orangered;
    font-family: Arial;
    text-align: center;
    border-top: solid;
    border-width:thick;
}
#basAccueil{
    clear:both;
    background-image:url(../Images/sand.jpg);
    background-size:cover;
    width:100%;
    height: 400px;
    position: relative;
    display: inline-block;
}
#info{
    position: relative;
    width: 750px;
    height: 348px;
    margin: auto;
    background-color: khaki;
}
.photoInfo{

    float:left;
    margin-left:37px;
    display:inline-block;
    width: 200px;
    height: auto;
}
#giraffe{
    width: 200px;
}
#rhinos{
    width: 200px;
}
#lionceaux{
    width: 200px;
    height: 133px;
}
#textInfo{
    clear:both;
    position: relative;
    height: 150px;
}
.text{
    margin-top: -5px;
    font-family: Arial;
    font-size: small;
    float: left;
    background-color: white;
    display:inline-block;
    margin-left:37px;
    width: 200px;
    height: 200px;
    text-align: center;
}
.bouton{
    float:right;
    background-color: orangered;
    color: white;
    font-family: Arial;
    height: 26px;
    width: 52px;
    border-style: none;
    margin-bottom: 2px;
}
